<mat-card>
  <form (submit)="onPostAdd(postForm)" #postForm="ngForm">
    <mat-form-field>
      <mat-label>Give a title</mat-label>
      <input type="text" name="title" matInput ngModel required #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a title name</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Leave a comment" name="content" ngModel required  #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter some content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </form>
</mat-card>